*{
    margin:0;
}
body{
    background-color: rgb(213, 205, 195);
}
.myBlog{
    /* border-bottom: 15px solid rgb(70, 43, 11);
    border-radius: 15px;
    border-top: none;
    border-top: 5px dashed rgb(70, 43, 11);
    border-left: 15px dotted rgb(70, 43, 11);
    border-right: 15px slategray solid; */
    border:10px solid rgb(113, 70, 19);
    /* Applied to all */
    /* margin:10px;   */
    /* TopBottom RightLeft */
    /* margin:10px 30px; */
    /* Top RightLeft Bottom */
    /* margin: 10px 50px 100px; */
    /* Top Right Bottom Left */
    /* margin:10px 50px 100px 150px; */
    margin:15px;

    /* Margin -> laptop border theke kotokhani bhitore */
    /* Padding -> margin theke kotokhani bhitore */
    padding: 10px;
    background-color:rgb(196, 166, 130);

    box-shadow: 10px 10px 20px 15px rgb(35, 26, 15);

    
}
.note{
    margin: 20px;
    text-align: center;
    border: 10px solid rgb(91, 71, 42);
    padding: 15px;

}
input[type="email"]{
    color: red;
}
h1{
    text-decoration: underline;
}
#special{
    background-color: rgb(139, 162, 182);
    /* display: none; */
    /* visibility: hidden; */
}
